assets/playercard_imgs 
assets/team_images

Brainstorming/
config/cfg.json
data/winter_players
data/wk4_data.csv
data/wk4_updated_data.csv

output/playercard_names.csv
output/playercard_ranks.csv
output/upload_data.json

playercards/
temp/

__pycache__

